!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title DaveSchaafDotCom
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "normalize", :media => "all"
    = javascript_include_tag "application"
    %link{rel: "stylesheet", href: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"}
    %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
    %link{rel:'stylesheet', href: 'http://fonts.googleapis.com/css?family=Roboto+Slab', type:'text/css'}
    %link{href:'http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two', rel:'stylesheet', type:'text/css'}
    = stylesheet_link_tag    "main", media: "all"
    = csrf_meta_tags

%body
  %nav.navbar.navbar-default.my-nav{role: 'navigation'}
    .container-fluid
      .navbar-brand= link_to "DS", root_path
      %ul.nav.nav-justified
        %li= link_to "Resume", resume_path
        %li= link_to "Portfolio", portfolio_path
        %li= link_to "Endurance", running_path
        %li= link_to "Travel", travel_path

  = yield
